{% include "layout/head.html" %}
{% block body %}
        {% include "layout/nav.html" %}
        <li class="navbar-item"></li>
    <a class="nav-link" href="/">
        Anasayfa 
    </a>
</li>
{% if user.id %}
<li class="navbar-item">
    <a class="nav-link active" href="/cams/">
        Kameralar <span class="sr-only" >(current)</span>
    </a>
</li>
<li class="navbar-item">
    <a class="nav-link " href="/cams/alerts/">
    Alarmlar
    </a>
</li>
<li class="navbar-item">
    <a class="nav-link " href="/cams/reports/">
    Raporlar
    </a>
</li>
{% endif %}
{% include "layout/nav2.html" %}
        


        {% if user.id %}
        <div class="d-flex justify-content-center">
    <form method="POST" action="/cams/" name="camForm" class=" mt-4" style="padding:50px;" id="MainForm">
            {% csrf_token %}
        <div class="d-flex justify-content-center">
            <a class="btn btn-warning btn-block rounded-0" style="padding-left:219px;padding-right:219px;" data-toggle="collapse" href="#collapsecam" role="button" aria-expanded="false" aria-controls="collapsecam">
                Kamera Ekle
            </a>
          </div>
          <div class="collapse" id="collapsecam">
            <div class="card card-body mt-4 justify-content-center">
                {% csrf_token %}
                    {{ form.as_p }}
                <br>
                <input type="submit" value="Kaydet" class="btn btn-success rounded-0 btn-block">
                <br>
                <hr>
                <br>
                 <a  href="/cams/"><button type="button" class="btn btn-danger rounded-0 btn-block">İptal Et</button></a><br>
                
            </div>
            </div>
        </div>
    </form>
    <table class="table">
                <tr>
                    <th>Kamera Adı</th>
                    <th>Kamera Statüsü</th>
                    <th></th>
                </tr>
            <tr>
            {% if not cameras|length == 0 %}
                {% for cam in cameras %}
                {% if cam.id %}
                <td>
                    {{cam.cam_name}}
                </td>
                <td>
                    {% if cam.cam_status %}
                    <a href="/cams/off/{{cam.cam_name}}/"><button  value="Kaydet" class="btn btn-success rounded-0 btn-block">Açık</button></a>
                    {% else %}
                    <a href="/cams/on/{{cam.cam_name}}/"><button  value="Kaydet" class="btn btn-danger rounded-0 btn-block">Kapalı</button></a>
                {% endif %}
                </td>
                <td><a href="/cams/delcam/{{cam.cam_name}}/"><button  value="Kaydet" class="btn btn-danger rounded-0 btn-block">Sil</button></a></td>
                
                    
                {% endif %}
            </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3">
                        <p>KAYITLI KAMERANIZ BULUNMAMAKTADIR.</p>
                    </td>
            {% endif %}
                    
            
                
        
    </table> 
               

        {% endif %}
    
    </div>
    {% include "layout/script.html" %}
{% endblock body %}
</html>