{% include "layout/head.html" %}
{% block body %}
        {% include "layout/nav.html" %}
        <li class="navbar-item"></li>
    <a class="nav-link" href="/">
        Anasayfa 
    </a>
</li>
{% if user.id %}
<li class="navbar-item">
    <a class="nav-link active" href="/cams/">
        Kameralar <span class="sr-only" >(current)</span>
    </a>
</li>
<li class="navbar-item">
    <a class="nav-link " href="/cams/alerts/">
    Alarmlar
    </a>
    </li>
{% endif %}
{% include "layout/nav2.html" %}
    <div class="container-fluid">
        <div class="d-flex justify-content-center">
            <div class="card" style='padding: 25px;'>
            <a href="www.google.com">
                <img src="http://82.65.5.211:8082/mjpg/video.mjpg" width="420" height="420"/>
            </a>
            </div>
            <div class="card" style='padding: 25px;'>
                <a href="www.google.com">
                    <img src="http://82.65.5.211:8082/mjpg/video.mjpg" width="420" height="420"/>
                </a>
                </div>
                <div class="card" style='padding: 25px;'>
                    <a href="www.google.com">
                        <img src="http://82.65.5.211:8082/mjpg/video.mjpg" width="420" height="420"/>
                    </a>
                    </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="card" style='padding: 25px;' >
            <a href="www.google.com">
                <img src="http://82.65.5.211:8082/mjpg/video.mjpg" width="420" height="420"/>
            </a>
            </div>
            <div class="card" style='padding: 25px;'>
                <a href="www.google.com">
                    <img src="http://82.65.5.211:8082/mjpg/video.mjpg" width="420" height="420"/>
                </a>
                </div>
                <div class="card" style='padding: 25px;'>
                    <a href="www.google.com">
                        <img src="http://82.65.5.211:8082/mjpg/video.mjpg" width="420" height="420"/>
                    </a>
                </div>
        </div>
    </div>
    {% include "layout/script.html" %}
{% endblock body %}
</html>